
.todolistContainer {
  width: 500px;
  margin: 0 auto;
}

.todoInput {
  display: flex;
  gap: 12px;
  height: 40px;
}

.todoInput input {
  flex: 1;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 16px;
}

.todoInput button {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.todolistItems {
  padding-top: 12px;
}

.todolistItems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todolistItems li {
  padding: 12px 20px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.todolistItems li span {
  flex: 1;
}

.todolistItems input {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}

.todolistItems button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.todolistItems li span.completed {
  text-decoration: line-through;
  color: #7f8c8d;
}

.todoProgress {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px
}

.todoProgress progress {
  flex: 1;
  height: 40px;
}